/* ========== General Design ========== */
.container {
    background-color: #000000;
    color: #0303be;
}
#body {
    background-color: #000000;
}

/* ========== Name and Job Title ========== */
header {
    border-bottom: solid 3px;
}

/* ========== Blog Boxes ========== */
.Box {
    border: 2px solid #0303be;
    width: 100%;
    height: 100px;
    margin: 10px;
}

.Box:hover{
    box-shadow: 5px 5px 5px #0303be;
}
