/* ========== General Design ========== */
.container-fluid {
    background-color: black;
    color: white;
    font-family: Chakra Petch;
}

/* ========== Navigation Bar ========== */
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #31ADF3;
}
.navbar, .main-content> .row, .main-content {
    margin: 0 100px;
}

/* ===== Main Content ===== */
.main-content {
    border: solid white 3px;
    max-height: 100%;
}

/* ========= Profile Picture ========== */
.pfp > img {
    height: 300px;
    width: auto;
}
.pfp :hover {
    box-shadow: 10px 8px #31ADF3;
    -webkit-transition : box-shadow ease-in-out .50s;
    transition : box-shadow ease-in-out .50s;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}