/* ========== General Design ========== */
.container-fluid {
    background-color: black;
    color: white;
}

.nav-link, nav {
    color: white;
    z-index: 0;
}

.navbar {
    margin: 0 100px;
}

.col-1{
    z-index: 1;
}